p{
    color: forestgreen;
    font-size: 2em;
}


h2{
    font-style: oblique;
    font-size: 2em;
    text-align: center;
}

.test{
    color: black;
    font-style: oblique;
    font-size: 2em;
    text-align: left;
}
